<div class="footer">
    <div class="powered-by">
        <p>Powered by:</p>
    </div>
    <div class="images-container">
        <div class="image-box">
            <a href='https://www.ruby-lang.org/en/'> 
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/ruby_small.png" height="50" width="50" />
            </a>
        </div>
        <div class="image-box"> 
            <a href='http://en.wikipedia.org/wiki/Test-driven_development'> 
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/tdd_small.png" height="55" width="55" />
            </a>
        </div>
        <div class="image-box"> 
            <a href='http://rspec.info/'> 
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/rspec_small.png" height="55" width="55" />
            </a>
        </div>
        <div class="image-box"> 
            <a href='https://github.com/jnicklas/capybara'> 
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/capybara_small.png" height="54" width="54" style="margin-top: 2px" />
            </a>
        </div>
        <div class="image-box"> 
            <a href='http://www.w3schools.com/html/html5_intro.asp'> 
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/html5_small.png" height="55" width="55" style="margin-top: -5px;" />
            </a>
        </div>
        <div class="image-box"> 
            <a href='http://www.w3.org/TR/2001/WD-css3-roadmap-20010523/'>
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/css3_small.png" height="55" width="55" style="margin-top: -5px;"/>
            </a>
        </div>
        <div class="image-box"> 
            <a href='http://www.sinatrarb.com/'>                 
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/sinatra_small.png" height="53" width="53" style="margin-top: 2px;"/>
            </a>
        </div>
        <div class="image-box"> 
            <a href='http://www.postgresql.org/'> 
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/postresql_small.png" height="50" width="50" style="margin-top: 1px;" />
            </a>
        </div>
        <div class="image-box">
            <a href='https://github.com/nadavmatalon/bookmark-manager'>
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/github_small.png" height="50" width="50" style="margin-top: 2px;" />
            </a>
        </div>
    </div>
    <div class="written-by">
        <p>Written by:</p>
    </div>
    <div class="avatar-container">
    <div class="avatar-box image-box">
        <a href='https://github.com/nadavmatalon'> 
            <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/nmqr_small.png" height="49" width="49" style="margin-top: 3px;" />
        </a>
    </div>
</div>

