<div class="footer">
    <div class="powered-by">
        <p>Powered by:</p>
    </div>
    <div class="images-container">
        <div class="image-box">
            <a href='https://www.ruby-lang.org/en/'> 
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/ruby_small.png" class='ruby-image' />
            </a>
        </div>
        <div class="image-box"> 
            <a href='http://en.wikipedia.org/wiki/Test-driven_development'> 
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/tdd_small.png" class='tdd-image' />
            </a>
        </div>
        <div class="image-box"> 
            <a href='http://rspec.info/'> 
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/rspec_small.png" class='rspec-image' />
            </a>
        </div>
        <div class="image-box"> 
            <a href='https://github.com/jnicklas/capybara'> 
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/capybara_small.png" class='capybara-image' />
            </a>
        </div>
        <div class="image-box"> 
            <a href='http://www.w3schools.com/html/html5_intro.asp'> 
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/html5_small.png" class='html5-image' />
            </a>
        </div>
        <div class="image-box"> 
            <a href='http://www.w3.org/TR/2001/WD-css3-roadmap-20010523/'>
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/css3_small.png" class='css3-image' />
            </a>
        </div>
        <div class="image-box"> 
            <a href='http://www.sinatrarb.com/'>                 
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/sinatra_small.png" class='sinatra-image' />
            </a>
        </div>
        <div class="image-box"> 
            <a href='http://www.postgresql.org/'> 
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/postresql_small.png" class='postgres-image' />
            </a>
        </div>
        <div class="image-box">
            <a href='https://github.com/nadavmatalon/bookmark-manager'>
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/github_small.png" class='github-image' />
            </a>
        </div>
    </div>
    <div class="written-by">
        <p>Written by:</p>
    </div>
    <div class="avatar-container">
        <div class="avatar-box image-box">
            <a href='https://github.com/nadavmatalon'> 
                <img src="https://raw.githubusercontent.com/nadavmatalon/bookmark-manager/master/public/images/nmqr_small.png" class='nmqr-image' />
            </a>
        </div>
    </div>
</div>

