<!DOCTYPE html>
<html>
	<head>
		<title>Bookmark Manager</title>
		<link href="/css/style.css" rel="stylesheet">		
	</head>
	<body>
		<h1>Bookmark Manager</h1>
		<h3>List of links:</h3> 
		<% if @links != [] %>
			<ul>
			  	<% @links.each do |link| %>
			    	<li><a href="<%= link.url %>"><%= link.title %></a></li>
		  			<% end %><br/>
			</ul>
		<% else %>
				<p>No links yet</p>
		<% end %>
		<h3>Add a new link:</h3> 
		<div id="new-link">
  			<form action="/links" method="post">
    			<strong>Url:</strong><input class="text" type="text" name="url" value="http://" onfocus="this.value = this.value;" required autofocus>
 	 			<strong>Title:</strong><input class="text" type="text" name="title" required>
    			<strong>Tags:</strong><input class="text" type="text" name="tags">
    			<input class="input" type="submit" value="Add link">
  			</form>
		</div>
	</body>
</html>

