<!DOCTYPE html>
<html>
	<head>
		<title>Bookmark Manager</title>
		<link href="/css/style.css" rel="stylesheet">		
	</head>
	<body>
		<% if (current_user) %>
    		<p><%= "Welcome #{current_user.email}" %></p>
  		<% end %>
		<h1>Bookmark Manager</h1>
		<ul>
  			<% @links.each do |link| %>
    			<li><a href="<%= link.url %>"><%= link.title %></a></li>
  			<% end %>
		</ul>
		<div id="new-link">
			<form action="/links" method="post">
				Url: <input type="text" name="url">
				Title: <input type="text" name="title">
				Tags: <input type="text" name="tags">
				<input type="submit" value="Add link">
			</form>
		</div>
	</body>
</html>

