<!Doctype html>
<html>
    <head>
        <title>Bookmark Manager</title>
        <link href="/css/reset.css" rel="stylesheet" type="text/css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <meta charset="utf8">
    </head>
    <body>
        <%= partial :header %>
        <div class="main-section">   
            <%= yield %>
        </div>
        <%= partial :footer %>
    </body>
 </html>

