<!Doctype html>
<html>
    <head>
        <title>Bookmark Manager</title>
        <link href="/css/reset.css" rel="stylesheet" type="text/css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <meta charset="utf8">
    </head>
    <body>
        <%= partial :header %>
        <div class="main-section">   
            <%= yield %>
        </div>
        <%= partial :footer %>
        <% if false %>
            <script>
                var detector = document.createElement("detect");
                detector.style.display = "flex";
                if (detector.style.display === "flex") {
                    console.log("Flex is supported");
                }
                else
                {
                    console.log("Flex is not supported");
                }
            </script>
        <% end %>
    </body>
 </html>

