<!DOCTYPE html>
<html>
    <head>
        <title>Bookmark Manager</title>
        <link href="/css/style.css" type="text/css" rel="stylesheet">       
    </head>
    <body>
        <header>
            <div id="nav-bar">
                <div id="welcome-message">
                    <% if current_user %>
                        Welcome <%= current_user.email %> 
                    <% else %> 
                        Welcome Guest
                    <% end %>
                </div>
                <div id="flash-messages">
                    <% if flash[:errors] && !flash[:errors].empty? %>
                        <div id="errors">
                            <% flash[:errors].each do |error| %>
                                <p><%= error %></p>
                            <% end %>
                        </div>
                    <% end %>
                    <% if flash[:notice] %>
                        <div id="notice">
                            <%= flash[:notice] %>
                        </div>
                    <% end %>
                </div>
                <div id="nav-buttons">
                    <% if current_user %>
                        <form id="sign-out" method="post" action="/sessions">
                            <input type="hidden" name="_method" value="delete">
                            <input type="submit" value="Sign out">
                        </form>
                    <% else %> 
                        <a href='/users/new' id='sign-up' class='button'>Sign up</a>
                        <a href='/sessions/new' id='sign-in' class='button'>Sign in</a>      
                    <% end %>
                    <a href='/' id='home' class='button'>Home</a>
                </div>     
            </div>
            <h1>Bookmark Manager</h1>
        </header>
        <%= yield %>
    </body>
</html>

