<!DOCTYPE html>
<html>
    <head>
        <title>Bookmark Manager</title>
        <link href="/css/style.css" type="text/css" rel="stylesheet">       
    </head>

    <body>
        <header>
            <div id="user-links">
                <% if current_user %>
                    <span id="welcome-message">
                        Welcome <%= current_user.email %>  
                    </span>
                    <form id="sign-out" method="post" action="/sessions">
                        <input type="hidden" name="_method" value="delete">
                        <input type="submit" value="Sign out">
                    </form>
                <% else %>
                    <a href='/users/new' id='sign-up' class='button'>Sign up</a>
                    <a href='/sessions/new' id='sign-in' class='button'>Sign in</a>      
                <% end %>
                <a href='/' id='home' class='button'>Home</a>      
            </div>
        </header>
        <% if flash[:errors] && !flash[:errors].empty? %>
            Sorry, there were the following problems with the form. 
            <ul id="errors">
                <% flash[:errors].each do |error| %>
                    <li><%= error %></li>
                <% end %>
            </ul>
        <% end %>
        <% if flash[:notice] %>
            <div id="notice">
                <%= flash[:notice] %>
            </div>
        <% end %>
        <%= yield %>
    </body>
</html>

