body {
	background: white;
	font-family: arial;
}

div {
	font-size: 15px;
	color: black;
}

h1 {
	font-weight: 700;
	color: blue;
	font-size: 58px;
	font-family: arial;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px black;
	border-color: black;
}

li {
	padding-top: 7px;
}

.text {
	font-size: 15px;
	width: 200px;
	margin-right: 22px;
	margin-left: 7px;
}

.input {
	font-size: 16px;
	font-family: arial;
    margin: 2px 4px 6px 4px;
    width: 80px;
}



.butoon {
	height: 80px;
	color: black;
	font-size: 50px;
	line-height: 7px;
	margin-top: 5px;
}

