body {
	background-color: black;
	color: whitesmoke;
}

div {
	/*border: 1px solid rgb(150, 150, 150);*/
}

.nav-bar {
	display: flex;
	width: 100%;
	height: 54px;
	background-color: rgb(75, 75, 75);
	border-bottom: 1px solid rgb(100, 100, 100);
}

.logo {
	width: 26%;
	min-width: 320px;
	height: 54px;
}

.logo > p {
	font-weight: 600;
	color: rgb(238, 99, 48);
	font-size: 29px;
	font-family: arial;
	text-align: center;
	padding-top: 14px;
	margin-left: -20px;
	text-decoration-style: inherit;
}

.user-message {
	width: 22%;
	height: 54px;
	text-align: center;
}

.user-message > p {
	padding-top: 20px;
	font-size: 1.1em;
	color: whitesmoke;
}

.system-message {
	width: 36%;
	text-align: center;
}

.errors > p {
	padding-top: 20px;
	font-size: 1.15em;
	color: rgb(247, 67, 43);
	letter-spacing: 0.5px;
}

.notices > p {
	padding-top: 20px;
	font-size: 1.15em;
	color: rgb(57, 206, 57);
	letter-spacing: 0.5px;
}

.nav-buttons {
	display: flex;
	float: right;
	min-width: 18%;
	height: 54px;
}

.nav-button {
	padding-top: 20px;
	padding-left: 7px;
	padding-right: 9px;
	font-size: 1.05em;
	text-decoration: none;
	color: whitesmoke;
}

.nav-button:hover{
	font-size: 1.05em;
	text-decoration: none;
	color: rgb(255, 138, 93);
}

#sign-out {
	border: none;
	background-color: transparent;
	font-size: 1.05em;
	font-family: Times New Roman;
	margin-top: -1px;
}


#sign-out:hover {
	color: orange;
}

.new-link-container {
	width: 100%;
	height: 140px;
	/*background-color: rgb(215, 215, 215);*/
}

.seperator {
	width: 100%;
	height: 25px;
	min-width: 50%;
	width: 65%;
	margin-right: auto;
	margin-left: auto;
	/*background-color: rgb(215, 215, 215);*/
}

.new-link {
	background-color: rgb(180, 180, 180);
	min-width: 50%;
	width: 68%;
	height: 90px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;	
	border: 1px solid rgb(100, 100, 100);
	border-radius: 5px;
}

.new-link > p {
	color: blue;
	font-size: 1.5em;
	padding-top: 10px;
	padding-bottom: 14px;
}

.new-link-header {
	font-size: 1.2em;
	margin-right: 9px;
	margin-left: 10px;
}

.text-box {
	width: 180px;
	height: 20px;
	font-size: 1em;
	outline: none;
}

.new-link-button {
	margin-left: 11px;
	font-size: 0.9em;
	width: 80px;
	height: 19px;
	box-sizing: initial;
	border-radius: 6px;
	border-width: 1px;
	border-style: solid;
	border: 1px solid rgb(100, 100, 100);
}

.new-link-button:hover {
	color: blue;
}

.new-link-message {
	margin-top: 22px;
}
.main-section {
	width: 100%;
	min-height: 470px;
	/*background-color: rgb(200, 200, 200);*/
}

.all-links {
	background-color: rgb(210, 210, 210);
}

.show-all-links-button-container{
	margin-top: 10px;
}

#show-all-links {
	color: black;
	text-decoration: none;
	border: 1px solid rgb(100, 100, 100);
	border-radius: 5px;
	background-color: silver;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.05em;
}

#show-all-links:hover {
	color: white;
}

.link-title > a {
	color: brown;
	text-decoration: none;
}

.link-title > a:hover {
	color: white;
}

.saved-link-title-margin {
	margin-top: 5px;
	margin-bottom: 2px;
}

.tag > a {
	color: purple;
	text-decoration: none;
	border: 1px solid rgb(100, 100, 100);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 7px;
	margin-right: 7px;
	border-radius: 3px;
	background-color: silver;
}

.tag > a:hover {
	color: white;
}

.footer {
	width: 100%;
	min-height: 100px;
	background-color: rgb(75, 75, 75);
	border-top: 1px solid rgb(100, 100, 100);
}











