body {
	background-color: black;
	color: whitesmoke;
	height: 100%;

}

div {
	/*border: 1px solid rgb(150, 150, 150);*/
}

.nav-bar {
	display: flex;
	width: 100%;
	height: 54px;
	background-color: rgb(75, 75, 75);
	border-bottom: 1px solid rgb(100, 100, 100);
	position: fixed;
	margin-top: 0px;
	margin-left: 0px;
}

.logo {
	width: 26%;
	min-width: 320px;
	height: 54px;
}

.logo > p {
	font-weight: 600;
	color: rgb(238, 99, 48);
	font-size: 29px;
	font-family: arial;
	text-align: center;
	padding-top: 14px;
	margin-left: -20px;
	text-decoration-style: inherit;
}

.user-message {
	width: 22%;
	height: 54px;
	text-align: center;
}

.user-message > p {
	padding-top: 20px;
	font-size: 1.1em;
	color: whitesmoke;
}

.system-message {
	width: 36%;
	text-align: center;
}

.errors > p {
	padding-top: 20px;
	font-size: 1.15em;
	color: rgb(247, 67, 43);
	letter-spacing: 0.5px;
}

.notices > p {
	padding-top: 20px;
	font-size: 1.15em;
	color: rgb(57, 206, 57);
	letter-spacing: 0.5px;
}

.nav-buttons {
	display: flex;
	float: right;
	min-width: 18%;
	height: 54px;
}

.nav-button {
	padding-top: 20px;
	padding-left: 7px;
	padding-right: 9px;
	font-size: 1.05em;
	text-decoration: none;
	color: whitesmoke;
	clear: left;
	text-align: center;
}

.nav-button:hover{
	font-size: 1.05em;
	text-decoration: none;
	color: rgb(255, 138, 93);
}

#sign-out {
	border: none;
	background-color: transparent;
	font-size: 1.05em;
	font-family: Times New Roman;
	margin-top: -1px;
	margin-left: 15px;
	clear: left;
}


#home {
	margin-left: 10px;
	clear: left
}

#sign-out:hover {
	color: orange;
}

.new-link-container {
	width: 100%;
	height: 132px;
	/*background-color: rgb(215, 215, 215);*/
}

.seperator {
	width: 100%;
	height: 22px;
	min-width: 50%;
	width: 65%;
	margin-right: auto;
	margin-left: auto;
	/*background-color: rgb(215, 215, 215);*/
}

.new-link {
	background-color: rgb(180, 180, 180);
	width: 900px;
	height: 90px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;	
	border: 1px solid rgb(100, 100, 100);
	border-radius: 5px;
}

.link-form {
	margin-right: 16px;
}

.new-link > p {
	color: blue;
	font-size: 1.5em;
	padding-top: 10px;
	padding-bottom: 14px;
}

#filter-title {
	color: rgb(209, 113, 50);
}

#tag-title {
	color: purple;
	text-decoration: none;
	border: 1px solid rgb(100, 100, 100);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 4px;
	margin-right: 4px;
	border-radius: 3px;
	background-color: silver;
	font-size: 0.8em;
}

.new-link-header {
	font-size: 1.2em;
	margin-right: 9px;
	margin-left: 10px;
	color: black;
}

.text-box {
	width: 180px;
	height: 20px;
	font-size: 1em;
	outline: none;
	border: 1px solid rgb(100, 100, 100);
}

.new-link input {
	padding-left: 5px;
}

.sign-in-text-box {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 5px;
}

.sign-up-text-box {
	width: 200px;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 5px;
}

.sign-in-container {
	height: 164px;
	width: 50%;
}

.sign-in-container > p {
	padding-top: 37px;
	padding-bottom: 32px;
	font-size: 1.8em;
}

.sign-up-container {
	height: 164px;
	width: 65%;
}

.sign-up-container > p {
	padding-top: 37px;
	padding-bottom: 32px;
	font-size: 1.8em;
}

.new-link-button {
	margin-left: 11px;
	font-size: 0.9em;
	width: 80px;
	height: 19px;
	box-sizing: initial;
	border-radius: 6px;
	border-width: 1px;
	border-style: solid;
	border: 1px solid rgb(100, 100, 100);
}

.new-link-button:hover {
	color: blue;
}

.new-link-message {
	margin-top: 22px;
}
.main-section {
	width: 100%;
	min-height: 570px;
	padding-top: 54px;
	padding-bottom: 94px;
}

.all-links {
	background-color: rgb(210, 210, 210);
}

.show-all-links-button-container{
	margin-top: 10px;
}

#show-all-links {
	color: black;
	text-decoration: none;
	border: 1px solid rgb(100, 100, 100);
	border-radius: 5px;
	background-color: silver;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 1.05em;
}

#show-all-links:hover {
	color: white;
}

.link-title > a {
	color: brown;
	text-decoration: none;
}

.link-title > a:hover {
	color: white;
}

.saved-link-title-margin {
	margin-top: 5px;
	margin-bottom: 2px;
}

.tag > a {
	color: purple;
	text-decoration: none;
	border: 1px solid rgb(100, 100, 100);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 7px;
	margin-right: 7px;
	border-radius: 3px;
	background-color: silver;
}

.tag > a:hover {
	color: white;
}

.footer {
	width: 100%;
	background-color: rgb(75, 75, 75);
	border-top: 1px solid rgb(100, 100, 100);
	display: flex;
	position:fixed;
   	left:0px;
   	bottom:0px;
}

.footer-container {
	display: flex;
	width: 94%;
	height: 90px;
	margin-left: auto;
	margin-right: auto;
}

.powered-by {
	width: 12.5%;
	text-align: center;
	vertical-align: top;
	height: 90px;
	display: flex;
	padding-left: 50px;
}

.powered-by > p {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.1em;
	letter-spacing: 1px;
	padding-left: 30px;
}

.written-by {
	width: 12.5%;
	text-align: center;
	vertical-align: top;
	height: 90px;
	display: flex;
}

.written-by > p {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.1em;
	letter-spacing: 1px;
	padding-left: 5px;
}

.avatar-container {
	align-self: center;
}

.avatar-box {
}

.images-container {
	display: flex;
	width: 60%;
	height: 90px;
}

.image-box {
	align-self: center;
	margin-right: auto;
	margin-left: auto;
}

.image-box img {
	margin-right: auto;
	margin-left: auto;
	display: flex;
}


