body {
}

div {
	/*border: 1px solid rgb(150, 150, 150);*/
}

.nav-bar {
	display: flex;
	width: 100%;
	height: 54px;
	background-color: rgb(230, 230, 230);
}

.logo {
	width: 26%;
	min-width: 320px;
	height: 54px;
	background-color: rgb(110, 110, 110);
}

.logo > p {
	font-weight: 700;
	color: blue;
	font-size: 32px;
	font-family: arial;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px 1px black;
	text-align: center;
	padding-top: 10px;
	margin-left: -10px;
}

.user-message {
	width: 22%;
	height: 54px;
	background-color: rgb(135, 135, 135);
	text-align: center;
}

.user-message > p {
	padding-top: 18px;
	font-size: 1.1em;
}

.system-message {
	width: 36%;
	text-align: center;
}

.errors > p {
	padding-top: 18px;
	font-size: 1.1em;
	color: red;
}

.notices > p {
	padding-top: 18px;
	font-size: 1.1em;
	color: green;
}

.nav-buttons {
	display: flex;
	float: right;
	min-width: 18%;
	height: 54px;
	background-color: rgb(150, 150, 150);
}

.nav-button {
	padding-top: 18px;
	padding-left: 7px;
	padding-right: 9px;
	font-size: 1.05em;
	text-decoration: none;
	color: black;
}

.nav-button:hover{
	font-size: 1.05em;
	text-decoration: none;
	color: blue;
}


#sign-out {
	border: none;
	background-color: transparent;
	font-size: 1.05em;
	font-family: Times New Roman;
	margin-top: -1px;
}

.add-link {
	width: 100%;
	height: 100px;
	background-color: rgb(215, 215, 215);
}

.main-section {
	width: 100%;
	min-height: 470px;
	background-color: rgb(200, 200, 200);
}


.link-list {

}

.footer {
	width: 100%;
	min-height: 100px;
	background-color: rgb(185, 185, 185);
}











