
<div class="new-link-container">
	<div class="seperator">
	</div>
	<div class="sign-in-container new-link">
		<p>Sign in</p>
		<form action="/sessions" method="post">
				<input type="text" name='email' placeholder="Email" class="sign-in-text-box text-box" required autofocus>
				<input type="password" name='password' placeholder="Password" class="sign-in-text-box text-box" required>
			<input type="submit" class="new-link-button" value="Sign In">
		</form>
	</div>
</div>

