<div class="new-link-container">
	<div class="seperator">
	</div>
	<div class="sign-up-container new-link">
		<p>Sign up</p>
		<form action="/users" method="post">
			<input type="text" name='email' value="<%= @user.email %>" placeholder="Email" class="sign-up-text-box text-box" required autofocus>
			<input type="password" name='password' placeholder="Password" class="sign-up-text-box text-box" required>
			<input type="password" name='password_confirmation' placeholder="Password Confirmation" class="sign-up-text-box text-box" required>
			<input type="submit" class="new-link-button" value="Register">
		</form>
	</div>
</div>